<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="moe.xing.videoplayer">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
            android:name=".PlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <meta-data
            android:name="android.support.VERSION"
            android:value="26.0.2"
            tools:replace="android:value"/>

    </application>

</manifest>
